/** Reset.css
 ---------------------------------------------------------*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

body {
    background: #666666;
    color: #FFF;
    font-family: Helvetica, sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

.navigation {
    background: #EFEFEF;
    height: 25px;
    padding: 10px; 
    position: fixed;
    width: 100vw;
}

.navigation a {
    color: #191919;
    display: inline-block; 
    margin-right: 10px;
}

.navigation a:hover, .navigation a.active {
    color: #999999;
}

section {
     background-color: #73b9e0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     max-height: 100vh;
     scroll-snap-align: start;
 }
 
 section:nth-of-type(odd) {
     background-color: #2882b4;
 }

